@keyframes flashUrgImp {
  0% { background: auto; }
  50% { background: rgba(255, 0, 0, 0.5); }
  100% { background: auto; }
}
@keyframes flashNurgImp {
  0% { background: auto; }
  50% { background: rgba(0, 0, 255, 0.5); }
  100% { background: auto; }
}
@keyframes flashUrgNimp {
  0% { background: auto; }
  50% { background: rgba(255, 255, 0, 0.5); }
  100% { background: auto; }
}
@keyframes flashNurgNimp {
  0% { background: auto; }
  50% { background: rgba(128, 128, 128, 0.5); }
  100% { background: auto; }
}
.urgImp { animation: flashUrgImp 400ms linear; }
.nurgImp { animation: flashNurgImp 400ms linear; }
.urgNimp { animation: flashUrgNimp 400ms linear; }
.nurgNimp { animation: flashNurgNimp 400ms linear; }
.trans { transition: background linear 400ms; }